/.gradle
.gradle/8.8/checksums/checksums.lock
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/resourceHashesCache.bin
build/classes/java/main/com/agescrafting/agescrafting/compat/emi/WorkspaceEmiPlugin.class
